.AddNote{
    flex: 2;
    max-width: 500px;
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.06em;
    margin: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.AddNote .app-btn{
    margin-top: 10px;
}

.AddNote .text-box-header{
    display: block;
}

.AddNote .text-box-header + .input-div{
    margin-bottom: 30px;
}

.required-label{
    color:#ebc944;
}

.AddNote .input-div{
    margin-bottom: 5px;
}
.AddNote .error{
    color: red;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 800;
}

@media only screen and (max-width: 600px){
    .AddNote{
        padding-left: 0px;
    }
    .AddNote input, .AddNote textarea, .AddNote select{
        font-size: 0.8em;
    }
    .AddNote .input-div{
        padding: 5px;
    }
    .AddNote textarea{
        height: 150px;
    }
}