.NotesSection{
    flex: 2;
    padding-left: 40px;
}
.NotesSection .notes-list{
    display: flex;
    flex-wrap: wrap;
}
.NotesSection li{
    display: flex;
    justify-content: space-between;
}
.NotesSection li h4{
    color: #ebc944;
}
.NotesSection .notes-list li{
    list-style: none;
    border: 1px solid #bca136;
    width: 49%;
    min-width: 250px;
    padding: 20px;
    margin-bottom: 20px;
}
.NotesSection .notes-list li:nth-of-type(odd){
    margin-right: 10px;
}
.NotesSection h3{
    border-bottom: 1px solid #bca136;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: .9em;
}
.NotesSection .note-last-modified{
    padding-top: 8px;
    font-size: 0.8em;
}
.NotesSection li div button{
    font-family: sans-serif;
    padding: 3px 5px;
    font-size: 0.7em;
}
@media only screen and (max-width: 780px){
    .NotesSection .notes-list li{
        width: 100%;
    }
    .NotesSection .notes-list li:nth-of-type(odd){
        margin-right: 0px;
    }
    .NotesSection{
        padding-left: 10px;
    }
}