.AddFolder{
    flex: 2;
    max-width: 500px;
    padding: 0px;
    padding-left: 30px;
    margin: 20px;
}
.AddFolder .add-btn-div{
    background: inherit;
}
.AddFolder .error{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

@media only screen and (max-width: 600px){
    .AddFolder{
        padding-left: 0px;
    }
    .flex-div{
        display: block;
    }
    .SideBarNavigation{
        margin-left: 20px;
    }
    input[type='text']{
        font-size: 0.8em;
    }
    .input-div{
        padding: 5px;
        margin-bottom: 15px;
    }
}