.AddFolder{
    flex: 2;
    max-width: 500px;
    /* border: 1px solid #ebc944; */
    padding: 0px;
    margin: 20px;
}
.AddFolder .add-btn-div{
    background: inherit;
}
.AddFolder .error{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}