.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 40px;
}
.Header .header-btns .add-folder-btn{
    margin-right: 25px;
}

.Header .app-title h1{
    text-shadow: 5px 5px 0px rgba(0,0,0,1);
}



@media only screen and (max-width: 678px) {
    .Header{
        display: block;
        text-align:center;
    }
    .Header .app-title{
        margin-bottom: 10px;
        font-size: 1em;
    }
    .Header .header-btns{
        margin-right: 0px;
        display: flex;
        justify-content: center;
    }
    .Header .header-btns a{
        margin-top: 15px;
    }
}