*{
    box-sizing: border-box;
}
body{
    background: #093145;
    color: #fff;
}

main, div, section, ul, li, a, nav, p,
h1, h2, h3, h4, h5, h6, button, form, 
fieldset, legend, input, textarea, 
select, option, label, header, link, 
body, html{
    padding: 0px;
    margin: 0px;
}

.app-btn{
    font-family: 'Enriqueta', serif;
    border: none;
    border-radius: 3px;
    background: #ebc944;
    padding: 8px 20px;
    color: #093145;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.28);
}
.app-btn:hover,
.app-btn:focus{
    background: #bca136;
    transition: .2s ease;
}
.app-btn:disabled{
    background: #333;
    color: #555;
    box-shadow: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Enriqueta', sans-serif;
    letter-spacing: 0.12em;
}
p{
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.12em;
}
.app-btn{
    letter-spacing: 0.11em;
}

input, textarea{
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.07em;
    width: 100%;
    font-size: 1.1em;
    padding: 5px;
    border: none;
    color: #093145;
    font-weight: bold;
    border-bottom: 2px solid #ebc944;
}
textarea{
    padding: 10px;
    border: none;
    resize: none;
    height: 300px;
}
.input-div{
    width: 100%;
    padding: 10px;
    background: white;
    margin: 10px 0px 30px 0px;
}
label{
    font-size: 1.2em;
    letter-spacing: 0.07em;
    padding-left: 10px;
    padding-top: 30px;
}
select{
    display: block;
    cursor: pointer;
	font-size: 16px;
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.06em;
	font-weight: 700;
	color: #093145;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 10px 0px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
select::-ms-expand {
	display: none;
}
select:hover {
	border-color: #888;
}
select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
select option {
	font-weight:normal;
}

.main-error{
    background: #093145;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 40px;
}

@media only screen and (max-width: 678px) {
    .app-btn{
        padding: 6px 10px;
        font-size: 0.6em;
    }
    .App{
        padding: 0px 15px;
    }
    .SideBarNavigation{
        min-width: 100px;
    }
    .NotesSection{
        padding-left: 20px;
    }
}