*{
    box-sizing: border-box;
}
body{
    background: #093145;
    color: #fff;
}

main, div, section, ul, li, a, nav, p,
h1, h2, h3, h4, h5, h6, button, form, 
fieldset, legend, input, textarea, 
select, option, label, header, link, 
body, html{
    padding: 0px;
    margin: 0px;
}

.app-btn{
    font-family: 'Enriqueta', serif;
    border: none;
    border-radius: 3px;
    background: #ebc944;
    padding: 8px 20px;
    color: #093145;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9em;
    cursor: pointer;
}
.app-btn:hover,
.app-btn:focus{
    background: #bca136;
    transition: .2s ease;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}